<body>
    <p id="success"><%= flash[:success] %></p>
    <p><strong>Title: </strong><%= @booker.title %></br>
    <strong>Body: </strong><%= @booker.body %></p>
</body>

<p id="button"><%= link_to "Edit", edit_booker_path %>｜<%= link_to "Back", bookers_path %></p>